@model NC6.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ects)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ects)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Faculty.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Groups)
        </dt>
        <dd>
            <table class="table table-sm">
                <tr>
                    <thead>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>                        
                    </thead>
                </tr>
                @foreach (var g in Model.Groups)
                {
                    <tr>
                        <td>@g.Sname</td>
                        <td><dt class="col-sm-2">Lista studentów</dt></td>
                        <td>
                            <table class="table table-sm">
                                <tr>
                                    <thead>
                                        <th>Student</th>
                                        <th>Ocena</th>
                                    </thead>
                                </tr>
                                <tbody>
                                @foreach (var s in g.Students)
                                    {
                                        <tr>
                                            <td>@s.IN</td>
                                            <td>
                                            @if (s.Grades != null)
                                            {
                                                @s.Grades.Where(g => g.CourseId == Model.Id).First().grade
                                            }                                            
                                            </td>
                                        </tr>                                        
                                    }
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <a asp-action="TakeGrade" asp-route-id="@Model.Id" asp-route-groupid="@g.Id" class="btn btn-info">Oceń grupę</a>
                        </td>
                    </tr>                                                        
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-sm btn-secondary">Edit</a> 
    <a asp-action="Index" class="btn btn-sm btn-secondary">Back to List</a>
</div>
