@model NC6.Models.Group

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faculty.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Students)
        </dt>
        <dd class="col-sm-10">
            @foreach(var s in Model.Students)
            {
                @s.IN<br />
            }            
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Courses)
        </dt>
        <dd class="col-sm-10">
            <div class="accordion accordion-flush" id="accordionCourses">
                @foreach (var c in Model.Courses)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-@c.Name" aria-expanded="false" aria-controls="flush-@c.Name">
                            @c.Name                 
                            </button>
                        </h2>
                        <div id="flush-@c.Name" class="accordion-collapse collapse" data-bs-parent="#accordionCourses">
                            <div class="accordion-body">
                                <a asp-action="GetAttendance" asp-route-id="@Model?.Id" asp-route-courseid="@c.Id" class="btn btn-secondary btn-sm">Dodaj listę obecności</a>
                            </div>
                            <div class="container text-left">
                                @if(c.Attendances != null)
                                {
                                    var data1 = c.Attendances.OrderBy(a => a.DataS).First().DataS;
                                    <div class="row border-bottom bg-success">
                                        <div class="col"><h5> Lista obecności z dnia: @data1</h5></div>
                                    </div>
                                    foreach (var a in c.Attendances.OrderBy(a => a.DataS))
                                    {
                                        if (a.DataS != data1)
                                        {
                                            data1 = a.DataS;
                                            <div class="row border-bottom bg-success">
                                                <div class="col"><h5> Lista obecności z dnia: @data1</h5></div>
                                            </div>
                                        }
                                        if (c.Id == a.CourseId)
                                        {
                                            <div class="row border-bottom">
                                                <div class="col">@a.Student.IN</div>                                                
                                            </div>
                                        }
                                    }
                                }
                                
                            </div>
                        </div>
                    </div>
                }
            </div>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary btn-sm">Edit</a> 
    <a asp-action="Index" class="btn btn-primary btn-sm">Back to List</a>
</div>
