@model NC6.Models.Group

@{
    ViewData["Title"] = "Edit";
}

<h1>Lista obecności</h1>

<h4>Group @Model.Name z dnai @DateTime.Now</h4>
<h5>Przedmiot: @ViewBag.course.Name </h5>
<div class="form-group">
    <div class="container text-left">
        @foreach(var s in ViewBag.students)
        {
            <div class="row border-bottom bg-secondary">
                <div class="col"> @s.IN </div>
                <div class="col"> <input type="checkbox" name="presents" value="@s.Id"/> </div>
            </div>
        }
        <div class="row">
            <input type="submit" value="Save" class="btn btn-primary btn-sm" />
        </div>
        
    </div>
    <input type="hidden" name="courseid" value="@ViewBag.course.Id" />
    <input type="hidden" name="data" value="@DateTime.Now" />
</div>
