@model NC6.Models.Group

<form asp-action="LessonSave" method="post">
    <div class="form-group">
        <div class="container text-left">
            @foreach (var s in ViewBag.students)
            {
                <div class="row border-bottom bg-secondary">
                    <div class="col"> @s.IN </div>
                    <div class="col"> <input type="checkbox" name="presents" value="@s.Id" /> </div>
                </div>
            }
            <div class="row"></div>
            <div class="row">               
                <div class="col"><input type="submit" value="Save" class="btn btn-primary btn-sm" /></div>
            </div>
        <input type="hidden" name="groupid" value="@Model.Id" />
        <input type="hidden" name="courseid" value="@ViewBag.courseid" />
        <input type="hidden" name="data" value="@DateTime.Now" />
    </div>
</form>
